.blockquote {
  max-width: 856px;
  margin: 120px auto 95px;
  text-align: center;
  padding: 0 15px;

  @media only screen and (max-width: 768px) {
    margin: 60px auto 45px;
  }

  &__img {
    margin: 0 auto 60px;

    @media only screen and (max-width: 768px) {
      margin: 0 auto 30px;
    }
  }

  &__text {
    @include adaptiv-font(27, 16);
    font-weight: 700;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}