.partners {
  margin-bottom: 168px;

  @media only screen and (max-width: 1024px) {
    margin-bottom: 60px;
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__item {
    width: 306px;
    height: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}